---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Спасибо">
  <article class="post-content page-template no-image">
    <div class="post-content-body">
      <div class="thank-you" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
         <h1>Спасибо!</h1>
         <p>Сообщение получено. Юлия ответит в ближайшее время.</p>
         <p><a href="/">На главную</a></p>
      </div>
    </div>
  </article>
</Layout>
