---
import Layout from '../layouts/Layout.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import { type CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<'pages'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const { title, description, thumbnail } = entry.data;
---

<Layout title={title} description={description}>
  <Breadcrumbs crumbs={[{ label: title || '' }]} />
  <article class={`post-content ${thumbnail ? '' : 'no-image'}`}>

    {thumbnail && (
      <div class="post-content-image">
        <img src={thumbnail} class="kg-image" alt={title} />
      </div>
    )}

    <div class="post-content-body">
      <Content />
    </div>

    <footer class="post-content-footer">
    </footer>
  </article>
</Layout>
